.navbar {
  width: 100%;
  background-color: #21285c;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .nav-link {
  color: white;
}

.nav-nav {
  margin-bottom: 0;
}

.navbar .Logo {
  display: flex;
  width: 80%;
}
