.Usercard {
  margin-top: 3rem;
  height: 60vh;

  width: 49%;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 10px #999;

  background-color: #f5f5f5;
}
.Title {
  margin-top: 1.5rem;
  font-family: "Times New Roman";
  margin-bottom: 1.5rem;
  font-size: 25px;
  color: #21285c;
}

.idnum {
  width: 40%;
  font-weight: bold;
}

.idnumber {
  margin-top: 1.05rem;
  margin-bottom: 1rem;
}

.Username {
  width: 40%;
  font-weight: bold;
}
.Uname {
  margin-bottom: 1rem;
}

.email {
  width: 40%;
  font-weight: bold;
}
.Demail {
  margin-bottom: 1rem;
}

.password {
  width: 40%;
  font-weight: bold;
}

.Security {
  width: 40%;
  font-weight: bold;
}
.Dpassword {
  margin-bottom: 1rem;
}
.button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
